<h1 class="text-primary text-center">{{title | titlecase }}</h1>

<nav class="navbar navbar-expand-lg bg-success">
<ul class="navbar navbar-brand">
  <li class="link-info">
    <a routerLink="/employee">Employee</a>
  </li><br/>
  <li class="link-info right-align">
    <a routerLink="/employee-form">Employee-Form</a>
  </li>

  <li class="link-info right-align">
    <a routerLink="/book">book</a>
  </li>

  <li class="link-info right-align">
    <a routerLink="/register">register</a>
  </li>
</ul>





</nav>

<router-outlet></router-outlet>

